   <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <%= link_to 'Home', root_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
                <%= link_to 'Athletes Den', root_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <% if user_signed_in? %>
              <div class='navbar-right'>
                <p class='navbar-text'>
                  Signed in as <%= current_user.email %>
                </p>
                <li class='nav-item'>
                  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link'%>
                </li>
              </div>
            <% else %>
            <li class='nav-item'>
              <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link'%> 
            </li>
            <li class='nav-item'>
              <%= link_to 'Sign In', new_user_session_path, class: 'nav-link'%> 
            </li>
          <% end %>
          </ul>
        </div>
      </nav>
   